body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.order{
	float: right;
}

 .order .up, .order .down {
	border: solid black;
    border-width: 0 3px 3px 0;
	display: block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

#log {
	float: right;
    display: inline-block;
    margin: 8px 0;
}